[client]
socket=/mysql/3306/run/mysql.sock
port=3306
[mysqld]
#################[base]##########################
net_write_timeout=300
datadir=/mysql/3306/data
#innodb_data_home_dir=/data/mysql/
#innodb_log_group_home_dir=/data/mysql/
port=3306
user=mysql
pid-file=/mysql/3306/run/mysqld.pid
socket=/mysql/3306/run/mysql.sock
default_storage_engine=innodb
character_set_server=utf8
open_files_limit=65535
tmpdir=/var/tmp/mysql 

[mysqld_safe]
log_error=/mysql/3306/log/mysql-error.log
pid-file=/mysql/3306/run/mysqld.pid
open_files_limit=15000

[mysqladmin]
socket=/mysql/3306/run/mysql.sock
